version: '3.8'
networks:
  kafka-net:
    driver: bridge
services:
  cache:
    image: redis:6.2-alpine
    restart: always
    ports:
      - '6379:6379'
    command: redis-server --save 20 1 --loglevel warning --requirepass eYVX7EwVmmxKPCDmwMtyKVge8oLd2t81
    volumes:
      - cache:/data
    healthcheck:
      test: [ "CMD", "redis-cli", "--raw", "incr", "ping" ] # Test connection with a simple command
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 15s
  database:
    image: postgres:17.1
    restart: always
    ports:
      - '5432:5432'
    volumes:
      - database:/var/lib/postgresql/data
      - ./source/db/init.sql:/docker-entrypoint-initdb.d/init.sql
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_DB=postgres
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s
    command: ["postgres", "-c", "wal_level=logical"]


  broker:
    image: apache/kafka:4.1.1
    hostname: broker
    container_name: broker
    ports:
      - '9092:9092'
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: 'CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT'
      KAFKA_ADVERTISED_LISTENERS: 'PLAINTEXT_HOST://localhost:9092,PLAINTEXT://broker:19092'
      KAFKA_PROCESS_ROLES: 'broker,controller'
      KAFKA_CONTROLLER_QUORUM_VOTERS: '1@broker:29093'
      KAFKA_LISTENERS: 'CONTROLLER://:29093,PLAINTEXT_HOST://:9092,PLAINTEXT://:19092'
      KAFKA_INTER_BROKER_LISTENER_NAME: 'PLAINTEXT'
      KAFKA_CONTROLLER_LISTENER_NAMES: 'CONTROLLER'
      CLUSTER_ID: '4L6g3nShT-eMCtK--X86sw'
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_SHARE_COORDINATOR_STATE_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_SHARE_COORDINATOR_STATE_TOPIC_MIN_ISR: 1
      KAFKA_LOG_DIRS: '/tmp/kraft-combined-logs'




  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka-cluster-ui
    ports:
      - "8081:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: broker:19092

      KAFKA_CLUSTERS_0_KAFKACONNECT_0_NAME: debezium
      KAFKA_CLUSTERS_0_KAFKACONNECT_0_ADDRESS: http://debezium:8083
      DYNAMIC_CONFIG_ENABLED: 'true'
#      AUTH_TYPE: LOGIN_FORM  # Authentication type for Kafka UI
#      SPRING_SECURITY_USER_NAME: admin  # username to login to ui
#      SPRING_SECURITY_USER_PASSWORD: Admin@123
    depends_on:
      - broker
      - debezium

  # Debezium: Change Data Capture (CDC) connector
  debezium:
    image: debezium/connect:2.7.3.Final  # Official Debezium Connect image
    depends_on:
      - broker
      - database  # Ensures Debezium starts after Kafka and PostgreSQL
    ports:
      - 8083:8083  # Maps Debezium port 8083 from the container to the host, Expose Debezium Connect REST API
    environment:
      GROUP_ID: 1001  # Unique ID for this Connect cluster
      CONFIG_STORAGE_TOPIC: my_connect_configs  # Kafka topic for connector configs
      OFFSET_STORAGE_TOPIC: my_connect_offsets  # Kafka topic for connector offsets
      STATUS_STORAGE_TOPIC: my_connect_statuses  # Kafka topic for connector statuses
      BOOTSTRAP_SERVERS: broker:19092



volumes:
  cache:
    driver: local
  database:
    driver: local